params {
    matrix_dir      = "$baseDir/data/distance_matrix"
    tree_dir        = "$baseDir/data/nwk_tree"
    anchor_samples  = "H37Rv,ERR221538,ERR550756,ERR3800960,ERR4830668,ERR4872250,ERR12328205"
    primary_anchor  = "H37Rv"
    tree_outgroup   = "ERR4872250"
    snp_threshold   = 12
    results_dir     = "$baseDir/results"
    version         = "0.2.0"
    imputation_method = "auto"
    python          = "/home/robind1/medaka-env39/bin/python"
}

process {
    errorStrategy = 'terminate'
}

report {
    enabled = true
    file = "$baseDir/results/runningstat/execution.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "$baseDir/results/runningstat/timeline.html"
    overwrite = true
}

dag {
    enabled = true
    file = "$baseDir/results/runningstat/dag.html"
    overwrite = true
}
